.banner-animation {
    position: relative;
    overflow: hidden
}

.banner-animation:before {
    background: hsla(0,0%,100%,.3);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 50%;
    pointer-events: none;
    top: 0;
    opacity: 1;
    width: 0;
    transition: all .9s linear
}

.banner-animation:hover:before {
    left: 0;
    right: 0;
    opacity: 0;
    width: auto;
    transition: all .9s linear
}

