@media (max-width:1490px) {
    .swiper-div{
        max-width: 660px;   
        width: 100%;
    }
}
@media (max-width:1390px) {
    .swiper-div{
        max-width: 625px;   
        width: 100%;
    }
}
@media (max-width:1320px) {
    .swiper-div{
        max-width: 625px;   
        width: 100%;
    }
  
}
@media (max-width:1280px) {
    .slider {
        top: 70px !important;
    }
    .swiper-div{
        max-width: calc(80vw - 200px);
        object-fit: contain !important;
        width: 100%;
        margin-left: 0 !important;
    }
}

@media (max-width: 992px) {
    .swiper-div{
        max-width: calc(90vw);
        object-fit: contain !important;
        width: 100%;
    }
    .swiper-div img{
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width:768px) {
    .res-font{
        font-size: 26px !important;
        line-height: 30px;
    }
}

@media screen and (max-width:630px) {
    .texts{
        top: calc(15vh);
    }
    .shop{
        margin-top: 10px;
    }
}
@media screen and (max-width:530px) {
    .texts{
        top: calc(8vh);
    }
    .shop{
        margin-top: 10px;
    }
}


@media screen and (max-width:450px) {
    .texts{
        top: 10px !important;
        left: 10px !important;
    }
}