.containers-2{
    padding: 70px;
  }
  .mySwipers{
    width: 100%;
  }
  .swipers {
      width: 100%;
      height: 100%;
      margin-top: 20px;
  }
     
    .swiper-slides img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }