.bg-img {
    background-image: url(../../assets//error-bg.jpg);
    background-size: 100% 100%;
    object-fit: cover;
}

.page-heading {
    margin-top: -30px;
}

@media (max-width:1280px) {
    .page-heading {
        margin-top: 0px;
    }
}