.hoverable-2:hover{
    transition: 0.5s ease-in-out;
}

input:focus{
    border: 1px solid #d5123d;
    transition: 0.5s ease-in-out;
}

input[type = "email"] {
    outline: 0;
}

.f-change:hover{
    background-color: #d5123d;
    transition: 0.4s ease-in-out;
    color: white !important;
}

.f-change2{
    color:  #d5123d;
}

.f-change:hover .f-change2{
    color: white;
}

.ll-1:hover .right-animation{
    animation: moveerror .4s linear;
}

@keyframes moveerror {
    49%{
        transform: translateX(30%);
    }
    50%{
        opacity: 0;
        transform: translateX(-30%);
    }
    51%{
        opacity: 1;
    }
}
