.container{
    height: 5rem;
}

.logo-div{
    background-color: aqua;
}

.search-info input[type=text]
{
    background-color: #eceef4 !important;
    width: 500px;
}
.search-info{
    width: 900px;
    height: 45px;
    background-color: #eceef4;
    padding: 10px;
}

input[type=text]:focus{
        outline: none;
}

.dropbtn {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(194, 192, 192);

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
