.n-check input[type="checkbox"]{
    accent-color: #d12531 !important;
}

@media (max-width:660px) {
    .pe-72 {
        padding-inline-end: 0rem !important;
    }
    
}

@media (max-width:450px)
{
    .ps-10 {
        padding-inline-start: 1rem;
    }
}