.App {
    font-family: sans-serif;
    text-align: center;
  }
  

  .center{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }


  .decor{
    background-color: gray;
    height: 50px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: larger;
    color: white;
  }