* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.size {
    width: 360px !important;
    object-fit: cover;
    margin-left: 10px;
    height: 205px;
}

.two-box .sec {
    margin-top: 20px;
}

@media (max-width:1430px) {
    .size {
        width: 300px !important;
    }
}
